

.container{
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    }
.container_left{
    border: 2px dotted black;
    width: 20%;
    height: 70;
    background-color: lightcoral;
} 


.fish1,.fish2,.fish3,.fish4{
    
    border: 1px dashed rgb(160, 3, 3);
    width: 25%;
    display:flex;
    flex-wrap: wrap;
    padding-left: 0%;
  }


 

 .container__right{
    border: 1px dashed black;
    
    flex-basis: 30%;
    margin-right: auto;
}

 .main_container{
     border: 2px solid red;
     display: flex;
     flex-wrap: nowrap;
     padding: 10px;
     background-color: burlywood;

 }
 .left_container{
    border: 2px solid blueviolet;
    border-radius: 1em;
    width: 85%;
   padding: 5px;
 }
 h1,h2 {
     text-align: center;
     text-transform: uppercase;
     font-size: 50px;
 }
 .fishlist_fishtank{
     display: flex;
     flex-wrap: wrap;
     flex-basis: 15%;
     justify-content: space-evenly;
    border-radius: 1em;
    /* height: 50%; */

    
 }
 .fish1{
    display: flex;
    flex-basis: 35%;
    margin-left: 5Px;
    /* border: 1px dashed rgb(78, 20, 185); */
    border-radius: 1em;
    width: 35%;
    height: 60%;
    background-color: cadetblue;
    font-size: larger;
    font-weight: bold;
 }
 /* .right_container{
    border: 2px solid blue;
    border-radius: 1em;
   padding: 10px;
 
 } */
 .container__right{
    border: 1px dashed rgb(78, 20, 185);
    border-radius: 1em;
    padding: 10px;
    margin-left: 40px;
    width: 85%;
    height: 75%;
    background-color: cyan;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
    flex: 1;
   
 }
 .tips {
     list-style-type: lower-alpha;
     padding-left: 10px;
     font-weight: 200;
 }

 .travel_quotes{
      border: 2px dotted black;
      /* margin-left: 5%;
      margin-right: 5%; */
      border-radius: 2em;
    display:flex;
    flex-wrap: nowrap;
    width: 90%;
    height: 70%;
    background-color: rgb(97, 97, 79);
   
    }
.quote , .quote1{
    border: 1px dashed rgb(160, 3, 3);
    border-radius: 2em;
    width: 70%;
    /* display:flex;
    flex-wrap: nowrap; */
    background-color: rgb(160, 160, 5);
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}
 .travel__locations{
    /* border: 2px solid skyblue; */
    background-color: teal;
    display:flex;
    flex-wrap: nowrap;
    border-radius: 2em;
   justify-content: space-between ;
    font-size: 35px;
   font-weight: bold;
   font-style: italic;
  }
   .location,.location1,.location2,.location3 {
    border: 2px dashed black;

   }
